html {
  scroll-behavior: smooth;
  overflow: scroll;
}
body {
	background-color: black;
	color: white;
}
hr{
	margin-top:5%;
	margin-bottom:5%;
}


@media screen and (max-width: 1000px) { 
	body{
		background-color: lightblue;
		color: black;
	}
	#box{
		display: flex;
		flex-direction: column-reverse;
	}
}
